In [24]:
# https://files.grouplens.org/datasets/movielens/ml-25m.zip

In [25]:
# read movie datas with Pandas
import pandas as pd

movies = pd.read_csv("movies.csv")

In [26]:
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
62418,209157,We (2018),Drama
62419,209159,Window of the Soul (2001),Documentary
62420,209163,Bad Poems (2018),Comedy|Drama
62421,209169,A Girl Thing (2001),(no genres listed)
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama

In [27]:
# clean movie titles with Regex
import re

def clean_title(title):
    return re.sub("[^a-zA-Z0-9 ]", "", title)

In [28]:
movies["clean_title"] = movies["title"].apply(clean_title)

In [29]:
movies

,movieId,title,genres,clean_title
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story 1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,Jumanji 1995
2,3,Grumpier Old Men (1995),Comedy|Romance,Grumpier Old Men 1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,Waiting to Exhale 1995
4,5,Father of the Bride Part II (1995),Comedy,Father of the Bride Part II 1995
...,...,...,...,...
62418,209157,We (2018),Drama,We 2018
62419,209159,Window of the Soul (2001),Documentary,Window of the Soul 2001
62420,209163,Bad Poems (2018),Comedy|Drama,Bad Poems 2018
62421,209169,A Girl Thing (2001),(no genres listed),A Girl Thing 2001
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama,Women of Devils Island 1962

In [35]:
# create a tfidf matrix
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(ngram_range=(1,2))

tfidf = vectorizer.fit_transform(movies["clean_title"])

In [54]:
# create a search function
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

def search(title):
    title = clean_title(title)
    query_vec = vectorizer.transform([title])
    similarity = cosine_similarity(query_vec, tfidf).flatten()
    indices = np.argpartition(similarity, -5)[-5:]
    results = movies.iloc[indices][::-1]
    return results

In [55]:
similarity

array([1.        , 0.09681098, 0.06531543, ..., 0.        , 0.        ,
       0.        ])

In [56]:
query_vec

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 5 stored elements and shape (1, 170073)>

In [57]:
indices

array([20497, 14813, 59767,  3021,     0])

In [58]:
results

,movieId,title,genres,clean_title
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story 1995
3021,3114,Toy Story 2 (1999),Adventure|Animation|Children|Comedy|Fantasy,Toy Story 2 1999
59767,201588,Toy Story 4 (2019),Adventure|Animation|Children|Comedy,Toy Story 4 2019
14813,78499,Toy Story 3 (2010),Adventure|Animation|Children|Comedy|Fantasy|IMAX,Toy Story 3 2010
20497,106022,Toy Story of Terror (2013),Animation|Children|Comedy,Toy Story of Terror 2013

In [59]:
# build an interactive search box with Jupyter
import ipywidgets as widgets
from IPython.display import display

movie_input = widgets.Text(
    value = "Toy Story",
    description = "Movie Title:",
    disable = False
)

In [60]:
movie_input

Text(value='Toy Story', description='Movie Title:')

In [61]:
movie_list = widgets.Output()

def on_type(data):
    with movie_list:
        movie_list.clear_output()
        title = data["new"]
        if len(title) > 5:
            display(search(title))

movie_input.observe(on_type, names='value')

display(movie_input, movie_list)

Text(value='Toy Story', description='Movie Title:')

Output()

In [62]:
# read in movie ratings data
ratings = pd.read_csv("ratings.csv")

In [63]:
ratings

          userId  movieId  rating   timestamp
0              1      296     5.0  1147880044
1              1      306     3.5  1147868817
2              1      307     5.0  1147868828
3              1      665     5.0  1147878820
4              1      899     3.5  1147868510
...          ...      ...     ...         ...
25000090  162541    50872     4.5  1240953372
25000091  162541    55768     2.5  1240951998
25000092  162541    56176     2.0  1240950697
25000093  162541    58559     4.0  1240953434
25000094  162541    63876     5.0  1240952515

[25000095 rows x 4 columns]

In [64]:
ratings.dtypes

userId         int64
movieId        int64
rating       float64
timestamp      int64
dtype: object

In [137]:
# find the users who liked the same movie
movie_id = 1

similar_users = ratings[(ratings["movieId"] == movie_id) & (ratings["rating"] >= 4)]["userId"].unique()

In [138]:
similar_users

array([     3,      5,      8, ..., 162530, 162533, 162534])

In [139]:
# find what other movies liked by the users who liked that movie (movie_id) 
similar_user_recs = ratings[(ratings["userId"].isin(similar_users)) & (ratings["rating"] > 4)]["movieId"]

In [140]:
similar_user_recs

255             29
256             32
257             50
261            214
263            293
             ...
24999248    101962
24999269    109487
24999326    164179
24999329    165549
24999348    177593
Name: movieId, Length: 2321248, dtype: int64

In [141]:
similar_user_recs = similar_user_recs.value_counts() / len(similar_users)

# Filter out movies that are liked by at least 10% of "similar users" --"these movies"
similar_user_recs = similar_user_recs[similar_user_recs > 0.10]

In [142]:
similar_user_recs

movieId
1       0.499483
318     0.421226
260     0.367817
296     0.353337
356     0.322708
          ...
1148    0.103609
1527    0.102867
4995    0.102522
778     0.102495
34      0.100162
Name: count, Length: 90, dtype: float64

In [143]:
# find out how "all users" like "these movies"
all_users = ratings[(ratings["movieId"].isin(similar_user_recs.index)) & (ratings["rating"] > 4)]

In [144]:
all_users

          userId  movieId  rating   timestamp
0              1      296     5.0  1147880044
29             1     4973     4.5  1147869080
48             1     7361     5.0  1147880055
72             2      110     5.0  1141416589
76             2      260     5.0  1141417172
...          ...      ...     ...         ...
25000058  162541     4995     5.0  1240951903
25000062  162541     5618     4.5  1240953299
25000065  162541     5952     5.0  1240952617
25000078  162541     7153     5.0  1240952613
25000081  162541     7361     4.5  1240953484

[1543932 rows x 4 columns]

In [150]:
# Calculate the popularity of "these movies" among all users
all_users_recs = all_users["movieId"].value_counts() / len(all_users["userId"].unique())

In [151]:
all_users_recs

movieId
318     0.345497
296     0.287399
2571    0.246370
356     0.237518
593     0.228071
          ...
3114    0.054220
2716    0.053892
34      0.052729
1073    0.049232
1148    0.047922
Name: count, Length: 90, dtype: float64

In [155]:
# Compare the preferences of "similar users" with the preferences of "all users" towards "these movies"
rec_percentages = pd.concat([similar_user_recs, all_users_recs], axis=1)

rec_percentages.columns = ["similar", "all"]

In [156]:
rec_percentages

          similar       all
movieId
1        0.499483  0.125923
318      0.421226  0.345497
260      0.367817  0.224334
296      0.353337  0.287399
356      0.322708  0.237518
...           ...       ...
1148     0.103609  0.047922
1527     0.102867  0.066762
4995     0.102522  0.076403
778      0.102495  0.075473
34       0.100162  0.052729

[90 rows x 2 columns]

In [159]:
# Calculate the ratio score of the preference of "similar users" to "all users". 
# The higher the ratio score, the more popular the movie is among "similar users" than among "all users".
# In other words, this movie may be more in line with your interests，
# because you are making recommendations based on the interests of "similar users".
rec_percentages["score"] = rec_percentages["similar"] / rec_percentages["all"]

rec_percentages = rec_percentages.sort_values("score", ascending = False)

In [160]:
rec_percentages

          similar       all     score
movieId
1        0.499483  0.125923  3.966586
3114     0.170357  0.054220  3.141967
4886     0.166645  0.071489  2.331060
6377     0.166565  0.072960  2.282977
1073     0.111591  0.049232  2.266621
...           ...       ...       ...
58559    0.180461  0.147871  1.220392
318      0.421226  0.345497  1.219189
4973     0.136148  0.113481  1.199744
2959     0.252380  0.218792  1.153517
79132    0.142380  0.132642  1.073417

[90 rows x 3 columns]

In [161]:
# Select the top 10 movies and merge them with the movie information dataset.
rec_percentages.head(10).merge(movies, left_index=True, right_on="movieId")

,similar,all,score,movieId,title,genres,clean_title
0,0.499483,0.125923,3.966586,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story 1995
3021,0.170357,0.054220,3.141967,3114,Toy Story 2 (1999),Adventure|Animation|Children|Comedy|Fantasy,Toy Story 2 1999
4780,0.166645,0.071489,2.331060,4886,"Monsters, Inc. (2001)",Adventure|Animation|Children|Comedy|Fantasy,Monsters Inc 2001
6258,0.166565,0.072960,2.282977,6377,Finding Nemo (2003),Adventure|Animation|Children|Comedy,Finding Nemo 2003
1047,0.111591,0.049232,2.266621,1073,Willy Wonka & the Chocolate Factory (1971),Children|Comedy|Fantasy|Musical,Willy Wonka the Chocolate Factory 1971
8246,0.154207,0.069109,2.231373,8961,"Incredibles, The (2004)",Action|Adventure|Animation|Children|Comedy,Incredibles The 2004
580,0.151449,0.068159,2.221989,588,Aladdin (1992),Adventure|Animation|Children|Comedy|Musical,Aladdin 1992
1120,0.103609,0.047922,2.162033,1148,Wallace & Gromit: The Wrong Trousers (1993),Animation|Children|Comedy|Crime,Wallace Gromit The Wrong Trousers 1993
359,0.184730,0.086585,2.133522,364,"Lion King, The (1994)",Adventure|Animation|Children|Drama|Musical|IMAX,Lion King The 1994
587,0.128060,0.060551,2.114900,595,Beauty and the Beast (1991),Animation|Children|Fantasy|Musical|Romance|IMAX,Beauty and the Beast 1991

In [162]:
# Given a movie ID, find other movies similar to this movie:

# 1. Find all users who gave this movie a high score.
# 2. See which other movies these users gave high scores and calculate the popularity of these movies.
# 3. Calculate the popularity of these movies among all users.
# 4. Compare the preferences of similar users with the preferences of all users and calculate a recommendation score.
# 5. Return the top 10 highest-scoring movies with their titles and genre information.

def find_similar_movies(movie_id):
    similar_users = ratings[(ratings["movieId"] == movie_id) & (ratings["rating"] >= 4)]["userId"].unique()
    similar_user_recs = ratings[(ratings["userId"].isin(similar_users)) & (ratings["rating"] > 4)]["movieId"]
    
    similar_user_recs = similar_user_recs.value_counts() / len(similar_users)
    similar_user_recs = similar_user_recs[similar_user_recs > 0.10]

    all_users = ratings[(ratings["movieId"].isin(similar_user_recs.index)) & (ratings["rating"] > 4)]
    all_users_recs = all_users["movieId"].value_counts() / len(all_users["userId"].unique())

    rec_percentages = pd.concat([similar_user_recs, all_users_recs], axis=1)
    rec_percentages.columns = ["similar", "all"]

    rec_percentages["score"] = rec_percentages["similar"] / rec_percentages["all"]
    
    rec_percentages = rec_percentages.sort_values("score", ascending = False)
    return rec_percentages.head(10).merge(movies, left_index=True, right_on="movieId")[["score", "title", "genres"]]

In [165]:
# Created a user input interface, which displays recommended movies similar to the movie in real time when the user enters the name:

# 1. Create a text input box (movie_name_input) to allow users to enter the movie name.
# 2. Create an output area (recommendation_list) to display the recommended movie list.
# 3. Define the on_type function. 
#    When the user enters the movie name, the search function will be called in real time to find the movie ID,
#    and then the find_similar_movies function will be used to generate a recommended movie list based on the movie ID and display the results in the output area.
# 4. Set the event listener (observe). 
#    When the user enters content in the input box, the on_type function will be automatically called to update the recommendation results.
import ipywidgets as widgets
from IPython.display import display

movie_name_input = widgets.Text(
    value = "Toy Story",
    description = "Movie Title:",
    disable = False
)

recommendation_list = widgets.Output()

def on_type(data):
    with recommendation_list:
        recommendation_list.clear_output()
        title = data["new"]
        if len(title) > 5:
            results = search(title)
            movie_id = results.iloc[0]["movieId"]
            display(find_similar_movies(movie_id))

movie_name_input.observe(on_type, names = "value")

display(movie_name_input, recommendation_list)

Text(value='Toy Story', description='Movie Title:')

Output()